body{

	margin: 0;
	padding: 0;
	}
	
#contenedor{
	width:800px;
	margin:0 auto;
	position:relative;
}
#galeria{
	width:585px;
	height:431px;
	position:absolute;
	z-index:1;
	left: 119px;
	top: 572px;
	
}